html,
body {
  height: 100%;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 550px;
  overflow: hidden;
  box-shadow: 1px 1px 8px 3px hsla(0, 0%, 0%, 0.2);
  border-radius: 14px;
  border: 1px solid #cecece;
}

.form__title {
  font-size: 20px;
  font-weight: 200;
  color: #050038;
  margin-bottom: 24px;
}

.form__content {
  padding: 30px 60px;
  background: #f8f8f7;
}

.form__actions {
  padding: 30px 60px;
}

.button {
  color: #fff;
  border-color: #4262ff;
  background-color: #4262ff;
  padding: 0 16px;
  min-width: 100px;
  font-size: 14px;
  height: 44px;
  line-height: 1;
  border-radius: 8px;
}

.form__actions .button {
  margin-right: 16px;
}
